@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Home" asp-action="FrontPage" method="get">
        <input type="text" name="industry" placeholder="Enter Industry" />
        <button type="submit">Go to Front Page</button>
    </form>
</div>
